@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* web: Bedimcode, responsive personal portfolio */

body {
    font-family: 'Roboto', sans-serif;
}

/* menu */
.container-menu {
    display: flex;

}
.logo {
    flex: 1;
}
.logo img {
    width: 80px;
}
.menu {
    flex: 4;
    /* display: flex; */
    align-items: center;
    display: flex;
    /* width: 100%; */
}
.menu> ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menu> ul> li {
    display: inline-block;
    letter-spacing: 2px;
    padding: 5px 10px;
}
.menu> ul> li> a {
    text-decoration: none;
    color: #121212;
    /* font-size: large; */
    /* font-weight: 600; */
}
.menu> ul> li:hover {
    background-color: #121212;
    border-radius: 7px;
    cursor: pointer;
}
.menu> ul> li:hover> a {
    color: #dbdbdb;
}