/* Input Animations With HTML And CSS || Border Effect On Input */
/* https://www.youtube.com/watch?v=yHtjwK3I4kY */


.subscribete-label {
    text-transform: uppercase;
}
.inner-newsletter> form {
    width: 450px;
    height: 50px;
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
.inner-newsletter> form>  input#email-newsletter-id {
    width: 100%;
    height: 100%;
    /* border: none; */
    border: 0;
    padding: 0;
    border-bottom: 1px solid #121212;
    padding-bottom: .25em;
    transition: 0.4s;
    /* border: 1px solid green; */
    text-align: center;
}
.inner-newsletter> form > span.focus-border {
    position: absolute;
    bottom: -4px;
    left: 0;
    /* width: 6em; */
    width: 0;
    height: 2px;
    background-color: #373737;
    transition: 0.4s;
}
:focus {
    outline: none;
}
.inner-newsletter> form>  input#email-newsletter-id:focus ~ span.focus-border {
    width: 100%;
    transition: 0.4s;
}
.container-newsletter {
    display: grid;
    grid-template-columns: 1fr;
}
.inner-newsletter {
    margin: auto;
}
.title-newsletter {
    text-align: center;
    text-transform: uppercase;
}
.label-newsletter {
    position: absolute;
    bottom: 10px;
}
.label-newsletter> label {
    text-align: center;
    font-size: larger;
    cursor: text;
}

#email-newsletter-id:focus ~ div.label-newsletter> label {
   display: none;
}
#email-newsletter-id:valid:focus ~ div.label-newsletter> label {
    /* border-top: 10px dotted rgb(109, 85, 41); */
    display: none;
}
#email-newsletter-id:invalid ~ div.label-newsletter> label {
    /* border-left: 20px dotted red; */
    /* display: none; */
}
#email-newsletter-id:valid ~ div.label-newsletter> label {
    /* border-bottom: 5px dashed gray; */
    display: none;
}
/* #email-newsletter-id:not([value]) ~ div.label-newsletter> label {
    border-right: 5px dashed blue;
} */
/* #email-newsletter-id:valid:not([value]) ~ div.label-newsletter> label {
    color: green;
} */
/* #email-newsletter-id[value=""] ~ div.label-newsletter> label {
    color: red;
} */
/* #email-newsletter-id[value=""]:invalid ~ div.label-newsletter> label {
    color: pink;
} */

/* when type in the input tag, the placeholder is removed and this becomes not-placeholder */
#email-newsletter-id:not(:placeholder-shown):invalid ~ div.label-newsletter> label {
    display: none;
}
