/* div.card:not(.card1) {
    background-image: url('https://source.unsplash.com/random/171x304');
    border: 1px solid green;
    width: 171px;
    height: 304px;
    background-size: cover;
} */

.product-img {
    min-width: 309px;
    min-height: 412px;
    /* object-fit: cover; */

}
.product-img> img {
    width: 100%;
    /* z-index: -1; */
    /* position: relative; */
    /* border-radius: 10px; */
}
.inner-cards {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.card {
    /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94,104,121,.288); */
    border-radius: 10px;
    /* padding: 1em; */
    margin: 1em;
}
.product-price {
    font-size: large;
}